__pycache__/
*.pyc
logs/
.env
.env.*
.pytest_cache/
config.json
*.log
*.jsonl
*.apk
*.sha1
mobile_app_flutter/.idea/
mobile_app_flutter/.dart_tool/
mobile_app_flutter/build/
mobile_app_flutter/.flutter-plugins
mobile_app_flutter/.flutter-plugins-dependencies
data/*.csv
data/experiments/
model/
merge_external_dataset.ps1
mobile_app_flutter/linux/
mobile_app_flutter/macos/
mobile_app_flutter/windows/
